In [5]:

!pip install pandas

Requirement already satisfied: pandas in c:\users\rachana\appdata\local\programs\python\python312\lib\site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.26.0 in c:\users\rachana\appdata\local\programs\python\python312\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\rachana\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\rachana\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\rachana\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\rachana\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [6]:
>>> import pandas as pd
>>> import numpy as np

In [10]:
df = pd.read_csv("C:\\Users\\Rachana\\Downloads\\holidays_events.csv")

In [11]:
df.head(5)

,date,type,locale,locale_name,description,transferred
0,2012-03-02,Holiday,Local,Manta,Fundacion de Manta,False
1,2012-04-01,Holiday,Regional,Cotopaxi,Provincializacion de Cotopaxi,False
2,2012-04-12,Holiday,Local,Cuenca,Fundacion de Cuenca,False
3,2012-04-14,Holiday,Local,Libertad,Cantonizacion de Libertad,False
4,2012-04-21,Holiday,Local,Riobamba,Cantonizacion de Riobamba,False

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 350 entries, 0 to 349
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         350 non-null    object
 1   type         350 non-null    object
 2   locale       350 non-null    object
 3   locale_name  350 non-null    object
 4   description  350 non-null    object
 5   transferred  350 non-null    bool
dtypes: bool(1), object(5)
memory usage: 14.1+ KB

In [16]:
to_drop = ['locale']
df.drop(to_drop, inplace=True, axis=1)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 350 entries, 0 to 349
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         350 non-null    object
 1   type         350 non-null    object
 2   locale_name  350 non-null    object
 3   description  350 non-null    object
 4   transferred  350 non-null    bool
dtypes: bool(1), object(4)
memory usage: 11.4+ KB

In [18]:
df.head(20)

,date,type,locale_name,description,transferred
0,2012-03-02,Holiday,Manta,Fundacion de Manta,False
1,2012-04-01,Holiday,Cotopaxi,Provincializacion de Cotopaxi,False
2,2012-04-12,Holiday,Cuenca,Fundacion de Cuenca,False
3,2012-04-14,Holiday,Libertad,Cantonizacion de Libertad,False
4,2012-04-21,Holiday,Riobamba,Cantonizacion de Riobamba,False
5,2012-05-12,Holiday,Puyo,Cantonizacion del Puyo,False
6,2012-06-23,Holiday,Guaranda,Cantonizacion de Guaranda,False
7,2012-06-25,Holiday,Imbabura,Provincializacion de Imbabura,False
8,2012-06-25,Holiday,Latacunga,Cantonizacion de Latacunga,False
9,2012-06-25,Holiday,Machala,Fundacion de Machala,False
10,2012-07-03,Holiday,Santo Domingo,Fundacion de Santo Domingo,False
11,2012-07-03,Holiday,El Carmen,Cantonizacion de El Carmen,False
12,2012-07-23,Holiday,Cayambe,Cantonizacion de Cayambe,False
13,2012-08-05,Holiday,Esmeraldas,Fundacion de Esmeraldas,False
14,2012-08-10,Holiday,Ecuador,Primer Grito de Independencia,False
15,2012-08-15,Holiday,Riobamba,Fundacion de Riobamba,False
16,2012-08-24,Holiday,Ambato,Fundacion de Ambato,False
17,2012-09-28,Holiday,Ibarra,Fundacion de Ibarra,False
18,2012-10-07,Holiday,Quevedo,Cantonizacion de Quevedo,False
19,2012-10-09,Holiday,Ecuador,Independencia de Guayaquil,True

In [19]:
df.loc[90]

date           2013-12-26
type           Additional
locale_name       Ecuador
description     Navidad+1
transferred         False
Name: 90, dtype: object

In [20]:
df.tail()

           date        type locale_name description  transferred
345  2017-12-22  Additional     Ecuador   Navidad-3        False
346  2017-12-23  Additional     Ecuador   Navidad-2        False
347  2017-12-24  Additional     Ecuador   Navidad-1        False
348  2017-12-25     Holiday     Ecuador     Navidad        False
349  2017-12-26  Additional     Ecuador   Navidad+1        False

In [21]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
345    False
346    False
347    False
348    False
349    False
Length: 350, dtype: bool

In [22]:
df.isnull()

      date   type  locale_name  description  transferred
0    False  False        False        False        False
1    False  False        False        False        False
2    False  False        False        False        False
3    False  False        False        False        False
4    False  False        False        False        False
..     ...    ...          ...          ...          ...
345  False  False        False        False        False
346  False  False        False        False        False
347  False  False        False        False        False
348  False  False        False        False        False
349  False  False        False        False        False

[350 rows x 5 columns]

In [23]:
df.loc[df.duplicated(keep=False)]

Empty DataFrame
Columns: [date, type, locale_name, description, transferred]
Index: []

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 350 entries, 0 to 349
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         350 non-null    object
 1   type         350 non-null    object
 2   locale_name  350 non-null    object
 3   description  350 non-null    object
 4   transferred  350 non-null    bool
dtypes: bool(1), object(4)
memory usage: 11.4+ KB